body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  .jumbotron text-center {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  /* Dropdown icons styling */
select option {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px; /* Space for the icon */
}

select option[value="apple"] {
  background-image: url('/static/icons/apple.png');
}

select option[value="banana"] {
  background-image: url('/static/icons/banana.png');
}

select option[value="strawberry"] {
  background-image: url('/static/icons/strawberry.png');
}

select option[value="orange"] {
  background-image: url('/static/icons/orange.png');
}

select option[value="grape"] {
  background-image: url('/static/icons/grape.png');
}

select option[value="watermelon"] {
  background-image: url('/static/icons/watermelon.png');
}

select option[value="cherry"] {
  background-image: url('/static/icons/cherry.png');
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.element {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd; /* Maintain border styling */
  padding: 20px; /* Optional padding for better appearance */
  border-radius: 10px; /* Optional rounded corners */
  background-color: #f8f9fa; /* Optional background color for the jumbotron */
}
